body {
    padding-top: 60px; 
    /* 60px to make the container go all the way to the 
    bottom of the topbar */
}

.form-signin {
    align: right;
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.article-markdown .figure {
    display : inline-block;
    margin-left : 4em;
    margin-bottom : 1em;
    padding : 4px;
    background-color : #fff;
    border : 1px solid #ccc;
    border : 1px solid rgba( 0, 0, 0, 0.2 );
    -webkit-box-shadow : 0, 1px, 3px, rgba( 0, 0, 0, 0.1);
       -moz-box-shadow : 0, 1px, 3px, rgba( 0, 0, 0, 0.1);
           -box-shadow : 0, 1px, 3px, rgba( 0, 0, 0, 0.1);
}

.article-markdown .caption {
    font-style : italic;
    width : 450px;
    padding : 5px;
}

// port nav-list over from Bootstrap 2.3.2

label {
    border : 
}

.nav-header {
    display : block;
    padding : 3px 15px;
    font-size : 11px;
    font-weight : bold;
    line-height : 1.55555;
    color : #999999;
    text-shadow : 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform : uppercase;
}
.nav li + .nav-header {
    margin-top : 9px;
}
.nav-list {
    padding-left : 15px;
    padding-right : 15px;
    margin-bottom : 0;
}
.nav-list > li > a,
.nav-list .nav-header {
//  margin-left: -15px;
//  margin-right: -15px;
    text-shadow : 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
    padding : 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    color : #ffffff;
    text-shadow : 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color : #428bca;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right : 2px;
}
.nav-list .divider {
    height : 1px;
    margin : 9px 0;
    overflow : hidden;
    background-color : #e5e5e5;
}
