{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-3" id="lefCol">
    <div class="well">
        <div>
            <ul class="nav nav-header">
                <li><label class="tree-toggle nav-header">This page</label>
                    <ul class="nav nav-list tree">
                    {% for r in articles %}
                    <li><a href="#sec{{ r.id }}">{{ r.headline }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li class="divider"></li>
            </ul>
            <ul class="nav nav-header">
                <li><label class="tree-toggle nav-header">Archives</label>
                    <ul class="nav nav-list tree">
                        <ul id="archives" class="nav nav-header">
                        <!-- archives dynamically inserted here -->
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="col-md-8">

{% for r in articles %}
    {% if r.active %}
        <div id="sec{{ r.id }}" class="well erlenmeyer-article">
        <h1><a href="{{ r.url }}">{{ r.headline }}</a></h1>
        <div class="article-markdown">
        {{ r.html }}
        </div>
        <hr/>
        <div class="media">
        <a class="pull-left" href="/user/{{ r.username }}">
        <img class="img-circle media-object" src="{{ url_for( 'static', filename=r.thumb ) }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
            Posted by <a href="/user/{{ r.username}}">{{ r.realname }}</a>
            </h4>
            on <a href="/{{ r.year }}/{{ r.month}}/{{ r.day }}">{{ r.day }}</a>/<a href="/{{ r.year }}/{{ r.month }}">{{ r.month }}</a>/<a href="/{{ r.year }}">{{ r.year }}</a> at {{ r.hour }}:{{ r.minute }}</h4>
            under a Creative Commons Attributuion License.
            <p>
            <a href="http://creativecommons.org/licenses/by/3.0/us/">
            <img src="/static/img/by.svg">
            </a>
            <p>
        </div>
        </div>
        </div>
        {% if comments %}
            {% block comments %}
            {% endblock %} 
        {% endif %}
    {% endif %}
{% endfor %}

    </div>
</div>

<script type="text/javascript">
   
    $.getJSON( $SCRIPT_ROOT + '/summary',  function(data) { 
        $.each( data, function( key, val ) {
            var year = key;
            var navyear = "<li><label class='tree-toggle nav-header'>" + year + "</label><ul class='nav nav-list tree'><ul class='nav nav-header'>";
            $.each( val, function( key, val ) {
                var month = key;
                navyear = navyear + "<li><label class='tree-toggle nav-header'>" + month + "</label><ul class='nav nav-list tree'>";
                $.each( val, function( key, val ) {
                    //console.log( year, month, val.slug );
                    navyear = navyear + "<li><a href='" + val.url + "'>" + val.headline + "</a></li>";
                } );
                navyear = navyear + "</ul></li>";
            } );

            navyear = navyear + "</ul></ul></li>";
            $("#archives").append( navyear );
        } ); 
    } ).then(

        function() { 
            $('.tree-toggle').click( function () {
                $(this).parent().children('ul.tree').toggle(200);
                //console.log( $(this) );
            });
            // roll up the archives
            $('#archives').parent().toggle()
            // roll up the years
            $('#archives').children().children('ul.tree').toggle();
            // roll up the months
            $('#archives').children().children().children().children().children('ul.tree').toggle();
        },
        function() { console.log('Huh. The archives broke for some reason.'); }
    );

</script>

{% endblock %}
