{% extends "layout.html" %}
{% block body %}

    <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">

{% for r in articles %}
    {% if r.active %}
        <div class="well erlenmeyer-article">
        <h1><a href="{{ r.url }}">{{ r.headline }}</a></h1>
        <div class="article-markdown">
        {{ r.html }}
        </div>
        <hr/>
        <div class="media">
        <a class="pull-left" href="/user/{{ r.username }}">
        <img class="img-circle media-object" src="{{ url_for( 'static', filename=r.thumb ) }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
            Posted by <a href="/user/{{ r.username}}">{{ r.realname }}</a>
            </h4>
            on <a href="/{{ r.year }}/{{ r.month}}/{{ r.day }}">{{ r.day }}</a>/<a href="/{{ r.year }}/{{ r.month }}">{{ r.month }}</a>/<a href="/{{ r.year }}">{{ r.year }}</a> at {{ r.hour }}:{{ r.minute }}</h4>
            under a Creative Commons Attributuion License.
            <p>
            <a href="http://creativecommons.org/licenses/by/3.0/us/">
            <img src="/static/img/by.svg">
            </a>
            <p>
        </div>
        </div>
        </div>
        {% if comments %}
            {% block comments %}
            {% endblock %} 
        {% endif %}
    {% endif %}
{% endfor %}

    </div>
    <div class="well col-xs-6 col-sm-3 sidebar-offcanvas text-center" id="sidebar" role="navigation">
        <p>
        <img class="img-rounded img-responsive img-thumbnail" src="{{ url_for('static', filename='uploads/shanana_thumb.png' ) }}">        
        <p>
        <div class="list-group text-left">
            <p> This is some text about stuff. </p>
            <a href="#" class="list-group-item active">link</a>
            <a href="#" class="list-group-item">link</a>
        </div>

    </div>
    </div>

{% endblock %}
