{% extends "layout.html" %}
{% block body %}

{% for r in articles %}
    {% if r.active %}
        <div class="well erlenmeyer-article">
        <h1><a href="{{ r.url }}">{{ r.headline }}</a></h1>
        <div class="article-markdown">
        {{ r.body }}
        </div>
        <hr/>
        <div class="media">
        <a class="pull-left" href="/user/{{ r.username }}">
        <img class="img-circle media-object" src="{{ url_for( 'static', filename=r.thumb ) }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
            Posted by <a href="/user/{{ r.username}}">{{ r.realname }}</a>
            </h4>
            on <a href="/{{ r.year }}/{{ r.month}}/{{ r.day }}">{{ r.day }}</a>/<a href="/{{ r.year }}/{{ r.month }}">{{ r.month }}</a>/<a href="/{{ r.year }}">{{ r.year }}</a> at {{ r.hour }}:{{ r.minute }}</h4>
            under a Creative Commons Attributuion License.
            <p>
            <a href="http://creativecommons.org/licenses/by/3.0/us/">
            <img src="/static/img/by.svg">
            </a>
            <p>
        </div>
        </div>
        </div>
        {% if comments %}
            {% block comments %}
            {% endblock %} 
        {% endif %}
    {% endif %}
{% endfor %}

<script>
    function stuffCaptions () {
        $( '.article-markdown > p > img' ).each( function() {
            /*$( this ).wrap( "<li class=\"thumbnail\" />" ).wrap(  * "<ul class=\"thumbnails\" />" ) ;*/
            $( this ).wrap( "<div class=\"polaroid\" />" );
            $( "<p class=\"caption\">" + $(this).attr("alt") + "</p>" ).insertAfter( $(this) );
        });
    }
    window.onload = stuffCaptions;
</script>

{% endblock %}
