{% extends "layout.html" %}
{% block body %}

<!-- citation modal -->
<div id="citationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action='/citation' method='post' enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Add citation</h3>
     </div>
     <div class="modal-body">
        <form class="" action="/citation" method="post" enctype="multipart/form-data">
            <input type="text" class="" placeholder="Citation" name="citation" size="15"></input>
            <input type="text" class="" placeholder="DOI" name="doi" size="15"></input>
            <input type="text" class="" placeholder="BibTeX" name="bibtex" size="15"></input>
     </div>
     <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <a href="#" onclick='add_citation();' id="new_citation" class="btn btn-primary">Save changes</a>
        <span id="result">Result.</span>
     </div>
        </form>
</div>


{% if article %}
<h3>Editing article {{ article.headline }}</h3>
<form action='/edit/{{ article.id}}' method='post' enctype='multipart/form-data'>
{% else %}
<h3>Editing new article</h3>
<form action="/publish" method='post' enctype='multipart/form-data'>
{% endif %}
<input id="headline" type="text" class="input-medium" placeholder="Headline" name="headline" size="25"></input>
<input id="lat" type="text" class="input-medium" placeholder="Latitude" name="lat" size="140" value="{{ article.lat }}"></input>
<input id="lng" type="text" class="input-medium" placeholder="Longitude" name="lng" size="140" value="{{ article.lng }}"></input>
<label class="checkbox">
    <input id="geolocate" name="geolocate" type="checkbox"> Geolocate
</label>
<a data-toggle="modal" class="btn btn-success" href="#citationModal">Add citation</a>
<textarea id="body" name="body" data-provide="markdown" rows="24" autofocus="true"></textarea>
<hr/>
<input type="submit" class="btn btn-success" value="Save changes"></input>
</form>

<script type=text/javascript>
    function add_citation() {
        $.post( $SCRIPT_ROOT + '/citation', {
                citation : $('input[name="citation"]').val(),
                doi      : $('input[name="doi"]').val(),
                bibtex   : $('input[name="bibtex"]').val()
            }, function(data) { console.log(data); } );
        }
</script>

<script>

    function stuffValues(){        
        {% if article %}
        $("#body").load("{{ article.url }}?markdown");
        {% endif %}
        $("#headline").val("{{ article.headline }}");
        $("#geolocate").change(function(){
            if( this.checked ) {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(stuffPosition);
                }
            } else {
                $("#lat").val( "{{ article.lat }}" );
                $("#lng").val( "{{ article.lng }}" );
            }
        });
    }
    window.onload = stuffValues;
    
    function stuffPosition(position) {
        $("#lat").val( position.coords.latitude );
        $("#lng").val( position.coords.longitude );
    }
</script>

{% endblock %}
