{% extends "layout.html" %}
{% block body %}

    <!-- citation modal -->
    <div id="citationModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add citation</h4>
                </div>
                <form class="" action="/citation" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">My citations</h3>
                            </div>
                            <div id="myCitations" class="panel-body">
                                <!-- citations will get stuffed in here -->
                            </div>
                        </div> 
                        <div class="input-group input-group-lg">
                           <span class="input-group-addon"><span class="glyphicon glyphicon-paperclip"></span></span>
                           <input type="text" class="form-control input-lg" placeholder="Citation name" name="citation"></input>
                        </div><br/>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                            <input type="text" class="form-control input-lg" placeholder="DOI or doi.org URL" name="doi"></input>
                        </div><br/>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" class="form-control input-lg" placeholder="BibTeX (optional)" name="bibtex">
                        </div><br/>
                    </div>
                    <div class="modal-footer">
                        <span id="result"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="#" onclick='add_citation();' id="new_citation" class="btn btn-primary">Save changes</a>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% if article %}

<h3>Editing article {{ article.headline }}</h3>
<form action='/edit/{{ article.id }}' method='post' enctype='multipart/form-data'>
{% else %}
<h3>Editing new article</h3>
<form action="/publish" method='post' enctype='multipart/form-data'>
{% endif %}

<div class="input-group input-group-lg">
    <span class="input-group-addon"><span class="glyphicon glyphicon-bullhorn"></span></span>
    <input id="headline" type="text" class="form-control input-lg" placeholder="Headline" name="headline"></input>
</div>
<br/>
<textarea id="body" name="body" data-provide="markdown" rows="24" autofocus="true"></textarea>
<br/>
<div class="row">
    <div class="col-lg-6">
        <input type="submit" class="btn btn-success" value="Save changes"></input>
        <span><a data-toggle="modal" class="btn btn-primary" href="#citationModal">Add citation</a></span>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Geolocation</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="geolocate" name="geolocate">
                    </span>
                    <input id="lat" type="text" class="form-control" placeholder="Latitude" name="lat" value="{{ article.lat }}"></input>
                    <input id="lng" type="text" class="form-control" placeholder="Longitude" name="lng" value="{{ article.lng }}"></input>
                </div>
            </div>
        </div>
    </div>
</div>


</form>

<script type=text/javascript>
    
    var citation_list = [];
    
    /* stolen from http://jsfiddle.net/adamadam123/bTUWa/5/ */
    function insertAtCaret(areaId,text) {
        var txtarea = document.getElementById(areaId);
        var scrollPos = txtarea.scrollTop;
        var strPos = 0;
        var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? "ff" : (document.selection ? "ie" : false ) );
        if (br == "ie") { 
            txtarea.focus();
            var range = document.selection.createRange();
            range.moveStart ('character', -txtarea.value.length);
            strPos = range.text.length;
        }
        else if (br == "ff") strPos = txtarea.selectionStart;
        var front = (txtarea.value).substring(0,strPos);  
        var back = (txtarea.value).substring(strPos,txtarea.value.length); 
        txtarea.value=front+text+back;
        strPos = strPos + text.length;
        if (br == "ie") { 
            txtarea.focus();
            var range = document.selection.createRange();
            range.moveStart ('character', -txtarea.value.length);
            range.moveStart ('character', strPos);
            range.moveEnd ('character', 0);
            range.select();
        }
        else if (br == "ff") {
            txtarea.selectionStart = strPos;
            txtarea.selectionEnd = strPos;
            txtarea.focus();
        }
        txtarea.scrollTop = scrollPos;
    }
    
    function add_citation() {
        new_citation = {    citation : $('input[name="citation"]').val(),
                            doi      : $('input[name="doi"]').val(),
                            bibtex   : $('input[name="bibtext"]').val() }
        $.post( $SCRIPT_ROOT + '/citation', new_citation, function(data) { document.getElementById('result').innerHTML = data; } );
        n = citation_list.length;
        citation_list.push( new_citation );
        $('#myCitations').append('<a onclick=\'use_citation(' + n + ');\' href="#"><span class="label label-primary" id="' + n + '">' + new_citation.citation + '</span></a> ');
    }
    
    function use_citation(data) {
        insertAtCaret( 'body', '[@' + citation_list[data].citation + ']' );
    }
    
    function stuffValues(){        
        {% if article %}
        $("#body").load("{{ article.url }}?markdown");
        {% endif %}
        $("#headline").val("{{ article.headline }}");
        $("#geolocate").change(function(){
            if( this.checked ) {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(stuffPosition);
                }
            } else {
                $("#lat").val( "{{ article.lat }}" );
                $("#lng").val( "{{ article.lng }}" );
            }
        });
        
        $.getJSON( $SCRIPT_ROOT + '/citation', function(data) {
            var items = [];
            $.each(data, function(key, val) {
                items.push('<a onclick=\'use_citation(' + key + ');\' href="#"><span class="label label-primary" id="' + key + '">' + val.citation + '</span></a> ');
                citation_list.push( val );
            });
            $('<div/>', { 'class': 'my-new-list', html: items.join('') }).appendTo('#myCitations');
        });
    }
    window.onload = stuffValues;
    
    function stuffPosition(position) {
        $("#lat").val( position.coords.latitude );
        $("#lng").val( position.coords.longitude );
    }
</script>

{% endblock %}
