<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Erlenmeyer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- MathJax config -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            "HTML-CSS": { availableFonts: ["STIX", "TeX"], 
                          linebreaks: { automatic: true }
            }
        });
    </script>
    <script src="{{ url_for('static', filename='js/MathJax.js', config='TeX-AMS-MML_HTMLorMML')}}"></script>
    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/erlenmeyer.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/prettify.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/doxy.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .form-signin {
      align: right;
		max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css' ) }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png' )}}">
  </head>

  <body onload="prettyPrint()">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">

          <a href="https://github.com/ryneches/Erlenmeyer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a> 
        <div class="container">
          
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Erlenmeyer</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
              <li><a data-toggle="modal" href="#aboutModal">About</a></li>
              <li><a data-toggle="modal" href="#contactModal">Contact</a></li>
              {% if authenticated %}
				  <li><a href="{{ url_for('profile', username=username) }}">My profile</a></li>
				  <li><a href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}
                  <li><a data-toggle="modal" href="#loginModal">Log in</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">

    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="mymodallabel">Let's have a login, shall we?</h3>
    </div>
    <div class="modal-body">
   
        <form class="form-search" action="/login" method="post">        
        <input type="text" placeholder="username" name="username"><br \><br \>
        <input type="password" placeholder="Password" name="password"><br \><br \>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                <a data-toggle="modal" class="btn btn-large btn-success" href="#signupModal">Sign up</a><br/>
        <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me</input>
        </label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">close</button>
    </div>
    </div>
    
    <div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="mymodallabel">About Erlenmeyer</h3>
    </div>
    <div class="modal-body">

            <p> This is Erlenmeyer, a simple blogging platform
                written in
                Python using <a href="http://flask.pocoo.org/">flask</a>, 
                because, let's face it, the world
                needed another blogging platform. Like all blogging
                tools, Erlenmeyer is incomplete, unfinished, and will
                probably wind up being abandoned by the author as soon
                as you get it working.</p>

            <p> Apathy and abandonment is the fate of all web tools.
                Erlenmeyer is designed address this problem by 
                being the 1963 VW Bug of blogging software. It is not
                intended to be elegant, or fast, or "enterprise scale," 
                whatever that means. Erlenmeyer
                is intended to be simple enough for you to modify,
                improve, optimize, extend and hack yourself, even if
                you are not much of a web programmer. You just want to 
                write things and stick
                them on the internet. You don't want your life to
                include words like, "deploy" and "migrate."</p>

        <p><a href="https://github.com/ryneches/erlenmeyer" 
              class="btn btn-primary btn-large">To GitHub! &raquo;</a>
    <p>
    Erlenmeyer is licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GNU GPL version 3.0</a>.
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">close</button>
    </div>
    </div>

    <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Contact us</h3>
    </div>
    <div class="modal-body">
    Write to us at :
    <p>Erlenmeyer, c/o Russell Neches<br/>
    University of California, Davis<br/>
    Room 5212<br/>
    Genome and Biomedical Sciences Facility<br/>
    451 Health Sciences Drive<br/>
    Davis, CA  95616-8816<br/>
    </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
    </div>
   
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }} alert fade in">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% if category == "alert-error" %}
                    <h3>Whoops!</h3>
                    {% else %}
                    <h3>So!</h3>
                    {% endif %}
                    <strong><p>{{ message }}</p></strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
   
    {% block body %}{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-transition.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tab.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-button.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-collapse.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-carousel.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-typeahead.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-markdown.js')}}"></script>
    <script src="{{ url_for('static', filename='js/markdown.js')}}"></script>
    <script src="{{ url_for('static', filename='js/prettify.js')}}"></script>
  </body>
</html>
