{% extends "layout.html" %}
{% block body %}

<style type="text/css">
    #mid { position:absolute; top:50%; }
</style>

{% if authenticated %}
    <h1>Welcome to your profile page, {{ user.realname }}!</h1>
{% else %}
    <h1>This is the profile page for {{ user.realname }}</h1>
{% endif %}

<!-- avatar with avatar change modal -->
<div id="avatarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload a new avatar picture!</h4>
      </div>
      <form action='/newavatar' method='post' enctype="multipart/form-data">
        <div class="modal-body">
          <p>
            <input type="file" name="avatar" />
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<a data-toggle="modal" href="#avatarModal">
<img class="img-circle" src="{{ url_for('static', filename=user.thumb)}}">
</a>

{% if authenticated %}
<a data-toggle="modal" class="btn btn-success btn-lg" href='/publish'>Write a new article!</a>
{% endif %}

<p/>
<div class="table-responsive">
<table class="table table-striped table-hover"><body>
<thead>
<strong>
<tr style="font-weight:bold"><td>Title</td><td>Date</td><td>Status</td></tr>
</strong>
</thead>
<tbody>
{% for r in articles %}
    <tr>
    <td>
    <a class="label label-default" href="/edit/{{ r.id }}">edit</a>
    <a href="/{{ r.year}}/{{ r.month}}/{{ r.day}}/{{ r.slug }}">{{ r.headline }}</a>
    </td>
    <td>{{ r.date }}</td>
    <td>{% if r.active %}Published : <a href="/deactivate/{{ r.id }}">Un-Publish</a>{% else %}Un-Published : <a href="/activate/{{ r.id }}">Publish</a>{% endif %}</td>
    </tr>
{% endfor %}
</tbody></table>
</table>

{% endblock %}
