{% extends "layout.html" %}
{% block body %}

<style type="text/css">
    #mid { position:absolute; top:50%; }
</style>

{% if authenticated %}
    <h1>Welcome to your profile page, {{ user.realname }}!</h1>
{% else %}
    <h1>This is the profile page for {{ user.realname }}</h1>
{% endif %}

<!-- avatar with avatar change modal -->
<div id="avatarModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form action='/newavatar' method='post' enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Upload a new avatar picture!</h3>
    </div>
    <div class="modal-body">
       <input type="file" name="avatar" />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save changes"></input>
    </div>
</form>
</div>

<a data-toggle="modal" href="#avatarModal">
<img class="img-circle" src="{{ url_for('static', filename=user.thumb)}}">
</a>

{% if authenticated %}
<a data-toggle="modal" class="btn-large btn-success" href='/publish'>Write a new article!</a>
{% endif %}

<p/>
<table class="table table-bordered table-striped table-hover"><body>
<thead>
<strong>
<tr style="font-weight:bold"><td>Title</td><td>Date</td><td>Status</td></tr>
</strong>
</thead>
<tbody>
{% for r in articles %}
    <tr>
    <td>
    <a href="/{{ r.year}}/{{ r.month}}/{{ r.day}}/{{ r.slug }}">{{ r.headline }}</a>
    <a class="label" href="/edit/{{ r.id }}">edit</a></td>
    <td>{{ r.date }}</td>
    <td>{% if r.active %}Published : <a href="/deactivate/{{ r.id }}">Un-Publish</a>{% else %}Un-Published : <a href="/activate/{{ r.id }}">Publish</a>{% endif %}</td>
    </tr>
{% endfor %}
</tbody></table>

{% endblock %}
