{% extends "layout.html" %}
{% block body %}

<form class="well form-search" action="/register" method="post" enctype="multipart/form-data">
<h2 class="form-signin-heading">Registering sample</h2>
<input type="text" class="input-medium" placeholder="Sample name" name="name" size="15"></input>
<input type="text" class="input-medium" placeholder="Sample description" name="description" size="140"></input><br /><br />
<input type="text" class="input-medium" placeholder="Identifier" name="identifier" size="15"></input>
<input type="text" class="input-medium" placeholder="Context type" name="context_type" size="15"></input><br /><br />
<input type="text" class="input-medium" placeholder="Latitude" name="lat" size="15"></input>
<input type="text" class="input-medium" placeholder="Longitude" name="lng" size="15"></input><br /><br />
<input type="text" class="input-medium" placeholder="Surface material" name="surface_material" size="15"></input>
<input type="text" class="input-medium" placeholder="Surface condition" name="surface_condition" size="15"></input><br /><br />
<input type="text" class="input-medium" placeholder="Surface humidity" name="surface_humidity" size="15"></input>
<input type="text" class="input-medium" placeholder="Temperature" name="temp" size="15"></input><br /><br />
<span class=""> Closeup photo <input type="file" name="closeup" /></span><br /><br />
<span class=""> Context photo <input type="file" name="context" /></span><br /><br />
<label class="checkbox"><input type="checkbox" name="direct_sunlight" /> Direct sunlight </label><br />
<label class="radio"><input type="radio" name="inorout" value="indoors" /> Indoors </label>
<label class="radio"><input type="radio" name="inorout" value="outdoors"> Outdoors </label><br /><br />
<input type="submit" class="btn-large btn-success" value="Register sample"></input>
</form> 

{% endblock %}
