{% extends "layout.html" %}
{% block body %}

<form class="" action="/signup" method="post" enctype="multipart/form-data">
<h1>Sign up!</h1>
<input type="text" class="" placeholder="Username" name="username" size="15"></input><br />
<input class="" placeholder="Password" type="password" name="password" size="15"></input><br />
<input class="" placeholder="Password (again)" type="password" name="password_check" size="15"></input><br />
<input type="text" class="" placeholder="Real name" name="realname" size="15"></input><br />
<input type="text" class="" placeholder="City" name="city" size="15"></input><br />
<input type="text" class="" placeholder="State" name="state" size="15"></input><br />
<input type="text" class="" placeholder="Country" name="country" size="15"></input><br />
<input type="text" class="" placeholder="Team name" name="team" size="15"></input><br />
<span class="btn-file"> Your avatar photo <input type="file" name="avatar" /></span><br /><br />

<input class="btn-large btn-success" type="submit" value="Signup"></input>
</form> 

{% endblock %}
